.title {
  font-weight: 800;
}

.text {
  font-style: italic;
}

.disclaimer {
  text-align: center;
  margin-top: 5px;
}

.logo {
  display: inline-block;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0;
  display: inline-block;
}