* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebecf2
}

.title {
    text-align: center;
    background-color: lightblue;
}

.list {
    font-family:'Times New Roman', Times, serif;
    margin: 10px 20px;
    font-weight: bold;
}